{% extends 'temp_inheritance/base.html' %}
{% load static %}
{% block content %}
<img src = "{% static 'temp_inheritance/cover2.jpg' %}" style="width: 100%">
<h1>Product pricing</h1>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        
      </tr>
    </thead>
    <tbody>
        {% for price in prices %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{price.name}}</td>
        <td>{{price.price}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
